#content {
    float: left;
    width: 60%;
}

#sidebar {
    float: left;
    width: 20%;
}

#topbar ul, #tabs ul{
    list-style: none;
    
}

#topbar ul li, #tabs ul li{
    display: inline;
    padding-left: 5px;
}

label{
    display: block;
    font-weight: bold;
}

.noticeeven, .even{
    background-color: #ffe;
}

thead tr{
    font-weight: bold;
    background-color: grey;
    color: white;
}

#subtasks ul, #taskitems ul{
    list-style: none;
    
}

#subtasks ul li, #taskitems ul li{
    display: inline;
    padding-left: 5px;
}

#topbar strong{
    display: inline;
}
a img{
    text-decoration: none;
    border: none;
}

.focusfield{
    border: 1px solid blue;
}
.collapsed{
    background-color: Grey;
    color:white;
}
.uncollapsed{
    background-color: Grey;
    color:yellow;
    
}

tr {
    padding: 5px;
    margin: 5px;
    border: 1px solid red;
}

table.calendar .date{
    font-size: 120%;
    font-weight: bold;
}

table.calendar a{
    display: block;
}

table.calendar div.starttasks{
    background-color: #ffe;
}
table.calendar div.endtasks{
    background-color: #fef;
}