#content {
    float: left;
    width: 60%;
}

#sidebar {
    float: left;
    width: 20%;
}

#topbar ul, #tabs ul{
    list-style: none;
    
}

#topbar ul li, #tabs ul li{
    display: inline;
    padding-left: 5px;
}

label{
    display: block;
    font-weight: bold;
}

.noticeeven, .even{
    background-color: #ffe;
}

thead tr{
    font-weight: bold;
    background-color: grey;
    color: white;
}

#subtasks ul, #taskitems ul{
    list-style: none;
    
}

#subtasks ul li, #taskitems ul li{
    display: inline;
    padding-left: 5px;
}

#topbar strong{
    display: inline;
}
a img{
    text-decoration: none;
    border: none;
}
tr{
    margin-bottom: 5px;
    margin-top: 5px;
    color: red;
}