#content {
    float: left;
    width: 60%;
}

#sidebar {
    float: left;
    width: 20%;
}

#topbar ul, #tabs ul{
    list-style: none;
    
}

#topbar ul li, #tabs ul li{
    display: inline;
    padding-left: 5px;
}