{% extends 'project/base.html' %}


{% block contents %}
<div class="genericform">
<h3>Your settings</h3>
<div class="createcontent" >
<form action="." method="post">
{{prefform.as_p}}
<input type="submit" name="Edit" value="edit" class="submitbtn"/>
</form>
</div>
</div>

<div class="genericform">
<h3>Change password</h3>
<div class="createcontent" >
<form action="." method="post">
	{% csrf_token %}
{{passch_form.as_p}}
<input type="submit" name="changepass" value="Change Password" class="submitbtn"/>
</form>
</div>
</div>

{% endblock %}