<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<title>
{% block title %}
Dash Bard
{% endblock %}
</title>

<link href="/site_media/style.css" type="text/css" rel="stylesheet" />
</head>

<body>

<div id="container">

    {% block feeds %}
    <link rel="alternate" type="application/rss+xml" title="{{project.name}} logs RSS feeds" href="/feeds/project/{{project.shortname}}/" />
    {% endblock %}

	<div id="header">
		{% block topheader %}
		<div class="signout"><a href="/accounts/logout/">Sign Out</a></div>
		<div id="logo">
		<img src="/site_media/images/logo.gif" alt="" /></div>
		<div class="icon"></div>
		<div class="topicon"><a href="#"><img src="/site_media/images/pdf-icon.gif" alt="" /></a><a href="#"><img src="/site_media/images/excel-icon.gif" alt="" /></a><a href="#"><img src="/site_media
		/images/question_icon.gif" alt="" /></a></div>
		{% endblock %}
	</div>
	
	<div id="subheader">
		{% block subheader %}
		<div class="sub_header">
			<div class="welcome"><p>Howdy {{user.username}}!<br />
			<span>Your currently have 23 projects.</span></p></div>
			<div class="nav">
			<ul>
			<li><a href="/dashboard/" class="nav-selected">Dashboard</a></li>
			<li><a href="/settings/">Settings</a></li>
			</ul>
		</div>	
	</div>
	{% endblock %}
	
	{% block subnav %}
		<a href="/dashboard/" class="dp-icon">Dashboard</a>  |  <a href="{{project.get_absolute_url}}">Project Details</a>  |  <a href="{{project.tasks_url}}">Tasks</a>  |  <a href="{{project.todo_url}}">Todo</a>  | 
		 <a href="{{project.noticeboard_url}}">Noticeboard</a>  |  <a href="{{project.calendar_url}}">Calendar</a>  | <a href="{{project.wiki_url}}">Wiki</a> | <a href="{{project.files_url}}">Files</a>  |  <a href="{{project.metrics_url}}">Metrics</a>  |  <a href="{{project.logs_url}}">Logs</a></div>
	{% endblock %}
	</div>
	
	<div id="content">
		
	{% block contenttitle %}
	{% endblock %}
	
	
	{% block contentcontainer %}
	<div id="contentwrap">
		<div id="leftcolumn">
		  {% block contenttext %}
			<div class="contenttext">
				<div class="curve"><p></p></div>
				<div class="tblpad">
				{% block textcontent %}
					<div class="textcontent">
					{% block contents %}
					{% endblock contents %}
					</div><!--end textcontent -->
			 {% endblock textcontent %}
			 	</div><!--end tblpad -->
			</div>
		
			
			
			
		</div>
		{% endblock contenttext %}
		
		</div>
		<div id="rightcolumn">
		{% block sidebar %}
		<h3>Meta</h3>
		<p class="totalproject">This project has 8 tasks</p>
		<p>You are viewing logs for :<br />
Project name<br />
These are also available<br />
 as <a href="#">RSS feeds</a></p>
		
	
		{% endblock %}
		</div>
		<br style="clear:both" />
	</div>
	{% endblock %}
<div id="footer">
{% block footer %}
<p class="footerlink"><a href="#">Home</a> | <a href="#">Contact</a> | <a href="#">Terms</a> | <a href="#">Links</a> | <a href="#">Privacy</a> | <a href="#">Site Map</a></p>
<p style="margin:0px;">Powered By webfactional .Copyright 2007. webfactional.com</p>
{% endblock %}

</div>
</div>
</body>
</html>
