<html>
<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>
    <div id="topbar">
    {% block topbar %}
    {% endblock %}
    </topbar>
    
    <div id="header">
        <div id="logo">
            {% block logo %}
            {% endblock %}
        </div>
        
        <div id="tabs">
            {% block tabs %}
            {% endblock %}
        </div>
    </div>
    
    <div id="main">
        <div id="contents">
            {% block contents %}
            {% endblock %}            
        </div>
        <div id="sidebar">
            {% block sidebar %}
            {% endblock %}                       
        </div>
    </div>
    
    <div id="footer">
        {% block footer %}
        {% endblock %}        
    </div>
</body>
</html>