{% extends 'project/base.html' %}

            {% block tabs %}
            <ul>
                <li>
                    <a href="/dashboard/">Dashboard</a>
                </li>
            </ul>
            {% endblock %}

{% block contents %}
    <h2>Your Projects</h2>
    <ul>
    {% for sub in subs %}
        <li>
        <a href="{{sub.project.get_absolute_url}}">{{sub.project.name}}</a>
        {% if sub.project.overdue_tasks %}
            <h3>Critical Tasks</h3>
            <ul>
            {% for task in sub.project.overdue_tasks %}
                <li>
                    <a href="{{task.get_absolute_url}}">{{task.name}}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
    <div id="createprojectform">
        <form action="." method="POST">
            {{createform.as_p}}
            <input type="SUBMIT" name="submit" value="Create new project" />
        </form>
    </div>
{% endblock %}