{% extends 'project/base.html' %}

{% block title %}
{{block.super}} - Tasks
{% endblock %}


{% block jqueryarea %}
<script>
 $(document).ready(function() {
    $('#taskform').hide();
    $('#taskshow').click(function(){
        $('#taskform').show('slow');
        });
    $('td.taskcontrol').hide();
    $('li.taskrow').mouseover(function(){
            id = this.id.split('-')[this.id.split('-').length - 1];
            taskcontrol = '#task-'+id+' .taskcontrol';
            $(taskcontrol).show();
        });
    $('li.taskrow').mouseout(function(){
            id = this.id.split('-')[this.id.split('-').length - 1];
            taskcontrol = '#task-'+id+' td.taskcontrol';
            $(taskcontrol).hide();
        });
 });
 </script>
{% endblock %}

{% block contents %}


    <h2>Tasks for project</h2>
    <ul class="tasklist">
    {% for task in tasks %}
	<li class="taskrow" id="task-{{task.id}}">
	<h4>{{task.name}}</h4>
	<table>
	    <tbody>
            {% include 'project/taskrow.html' %}
	    </tbody>
	</table> 
    {% if task.num_child_tasks %}	
    <div id="subtasks">
	<h3>Subs tasks for {{task.name}}</h3>
	<ul>
	{% for task in task.task_set.all %}
	    <li>
	    <a href="{{task.get_absolute_url}}">{{task.name}}</a>
	    </li>
	{% endfor %}
	</ul>
    </div>
    {% endif %}
    
    {% if task.num_items %}
    <div id="taskitems">
	<h3>Items for {{task.name}}</h3>
	<ul>
	{% for item in task.taskitem_set.all %}
	    <li>
	    <a href="{{item.get_absolute_url}}">{{item.name}}</a>
	    </li>
	{% endfor %}
	</ul>
    </div>
    {% endif %}	
        
	</li>
    {% endfor %}
    </ul>
    
    <div id="pagination">
        [Showing task {{page_data.first_on_page}} - {{page_data.last_on_page}} of {{page_data.total}} tasks]
        {% if page_data.has_next_page %}
        <a href="./?page={{page_data.next_page}}">next</a>
        {% endif %}
        
        {% if page_data.has_prev_page %}
        <a href="./?page={{page_data.prev_page}}">prev</a>
        {% endif %}
    </div>    
    
    <div id="taskform">
        
        <form action="." method="post">
            <fieldset>
                <legend>Add a task
                </legend>
            {{taskform.as_p}}
            <input type="SUBMIT" name="addtask" value="Add Task" />
            </fieldset>
        </form>
    </div>
     
{% endblock %}

{% block sidebar %}
   You are looking at the tasks for {{project.name}}
   
   <h3>Actions</h3>
   <ul>
    <li>
        <a href="#" id="taskshow">Add a task</a>
    </li>
    </ul>
   
   <h3>Meta</h3>
   <ul>
      <li><a href="">Create a new task</a></li>
      <li><a href="./?includecomplete=1">Show completed tasks</a></li>
    </ul>
{% endblock %}