{% extends 'project/base.html' %}

{% block title %}
{{block.super}} - Tasks
{% endblock %}


{% block contents %}
    <h2>Tasks for project</h2>
    <ul>
    {% for task in tasks %}
	<li>
	<h4>{{task.name}}</h4>
	<table>
            <thead>
                <tr>
		    
                    <td>Start Date</td>
                    <td>End Date</td>
                    <td>Person Responsible</td>
		    <td>Details</td>
                    <td>Edit</td>
                    <td>Mark Done</td>
                </tr>
            </thead>
	    <tbody>
            <tr>
            <td>{{task.expected_start_date|date}}</td>
            <td>{{task.expected_end_date|date}}</td>
            <td>{{task.user_responsible}}</td>
	    <td><a href="{{task.get_absolute_url}}">Details</a></td>
            <td><a href="{{task.edit_url}}">Edit</a></td>
            {% include 'project/markdone_controls.html' %}           
            </tr>
	    </tbody>
	</table> 
    {% if task.num_child_tasks %}	
    <div id="subtasks">
	<h3>Subs tasks for {{task.name}}</h3>
	<ul>
	{% for task in task.task_set.all %}
	    <li>
	    <a href="{{task.get_absolute_url}}">{{task.name}}</a>
	    </li>
	{% endfor %}
	</ul>
    </div>
    {% endif %}
    
    {% if task.num_items %}
    <div id="taskitems">
	<h3>Items for {{task.name}}</h3>
	<ul>
	{% for item in task.taskitem_set.all %}
	    <li>
	    <a href="{{item.get_absolute_url}}">{{item.name}}</a>
	    </li>
	{% endfor %}
	</ul>
    </div>
    {% endif %}	
        
	</li>
    {% endfor %}
    </ul>
    
    <div id="pagination">
        [Showing task {{page_data.first_on_page}} - {{page_data.last_on_page}} of {{page_data.total}} tasks]
        {% if page_data.has_next_page %}
        <a href="./?page={{page_data.next_page}}">next</a>
        {% endif %}
        
        {% if page_data.has_prev_page %}
        <a href="./?page={{page_data.prev_page}}">prev</a>
        {% endif %}
    </div>    
    
    <div id="noticeform">
        
        <form action="." method="post">
            <fieldset>
                <legend>Add a task
                </legend>
            {{taskform.as_p}}
            <input type="SUBMIT" name="addtask" value="Add Task" />
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block sidebar %}
   You are looking at the tasks for {{project.name}}
   
   <h3>Meta</h3>
   <ul>
      <li><a href="">Create a new task</a></li>
    </ul>
{% endblock %}