{% extends 'project/base.html' %}

{% block title %}
{{block.super}} - Details for {{task.name}}
{% endblock %}


{% block jqueryarea %}
<script type="text/javascript" src="/site_media/js/taskdetails.js">

 </script>
{% endblock %}

{% block contents %}
    <h2>{{task.name}}</h2>
    <div class="taskinfo">
	<table>
            <thead>
                <tr>
                    <td>Start Date</td>
                    <td>End Date</td>
                    <td>Person Responsible</td>
                    <td>Edit</td>
                    <td>Complete?</td>
                </tr>
            </thead>
	    <tbody>
            <tr>
            <td>{{task.expected_start_date|date}}</td>
            <td>{{task.expected_end_date|date}}</td>
            <td>{{task.user_responsible}}</td>
            <td><a href="{{task.edit_url}}">Edit</a></td>
            {% include 'project/markdone_controls.html' %}
            </tr>
	    </tbody>
	</table>        
    </div>
    
    <div id="taskdetails">
    
        <div id="notes">
        {% if task.get_notes %}
        <h3>Notes</h3>
        <ul>
        {% for note in task.get_notes %}
            <li>{{note.text}} added by {{note.user.username}}</li>
        {% endfor %}
        </ul>
        {% else %}
        No notes on this task.
        {% endif %}
    </div>
	
    {% if task.num_child_tasks %}
    <div id="subtasks">
	<h3>Subs tasks for {{task.name}}</h3>
	<table>
            <thead>
                <tr>
                    <td>Subtask</td>
                    <td>Start Date</td>
                    <td>End Date</td>
                    <td>Person Responsible</td>
                    <td>Details</td>
                    <td>Edit</td>
                    <td>Complete?</td>
                    <td>Delete</td>
                </tr>
            </thead>
        
	{% for task in task.task_set.all %}
        <tbody>
	    {% include 'project/taskrow.html' %}
        </tbody>
	{% endfor %}
        
	</table>
    </div>
    {% endif %}
    
    {% if task.num_items %}
    <div id="taskitems">
	<h3>Items for {{task.name}}</h3>
        <table>
        <thead>
            <tr>
                <td>
                    Item
                </td>
                <td>
                    User
                </td>
                <td>
                    Time
                </td>
                <td>
                    Complete?
                </td>
            </tr>
        </thead>
	{% for item in task.taskitem_set.all %}
	    <tbody>
            <tr class={% cycle "odd" "even" %}>
	    <td><a href="{{item.edit_url}}">{{item.name}}</a></td>
            <td>{{item.user}}</td>
            <td>{{item.time_worked}}</td>
            {% include 'project/taskitem_done.html' %}
            </tr>
	    </tbody>
	{% endfor %}
	</table>
    </div>
    {% endif %}
    </div>
    
    
    <div id="subtaskform">
	<form action="." method="post">
        <fieldset>
        <legend>Add a sub task</legend>
	{{addsubtaskform.as_p}}
	<input type="SUBMIT" name="addsubtask" value="Add a subtask" />
        </fieldset>
	</form>
    </div>
    
    <div id="itemform">
	<form action="." method="post">
        <fieldset>
        <legend>Add a task item</legend>            
	{{additemform.as_p}}
	<input type="SUBMIT" name="additem" value="Add a taskitem" />
        </fieldset>
	</form>
    </div>
    
    <div id="noteform">
        <form action="." method="post">
            {{noteform.as_p}}
            <input type="submit" name="addnote" value="Add Note" />
        </form>
    </div>
    
{% endblock %}

{% block sidebar %}
You are looking at {{task.name}}, a task for {{project.name}}.
<h3>Actions</h3>
<ul>
    <li><a href="#tasks" id="taskformshow">Add a task.</a></li>
    <li><a href="#items" id="itemformshow">Add an item.</a></li>
    <li><a href="#notes" id="shownotes">Show notes</a></li>
    <li><a href="#shownotesform" id="shownotesform">Add a note</a></li>
</ul>

<h3>Meta</h3>
<ul> 
    <li><a href="{{task.edit_url}}">Edit this task</a></li>
    <li><a href="{{task.version_url}}">See previous versions</a></li>
</ul>

<h3>
    Older Versions
</h3>

{% include 'project/taskversions.html' %}

 Task {{task.name}} was created on {{task.created_on|date}}. It has {{task.num_child_tasks}} sub tasks and {{task.num_items}} task items.
 {% if task.expected_end_date %}
    You need to complete this by {{task.expected_end_date|date}}
 {% endif %}
{% endblock %}