{% extends 'project/base.html' %}


{% block contents %}
    <h2>{{task.name}}</h2>
    <div id="taskdetails">
	
    {% if task.num_child_tasks %}
    <div id="subtasks">
	<h3>Subs tasks for {{task.name}}</h3>
	<ul>
	{% for task in task.task_set.all %}
	    <li>
	    <a href="{{task.get_absolute_url}}">{{task.name}}</a>
	    </li>
	{% endfor %}
	</ul>
    </div>
    {% endif %}
    
    {% if task.num_items %}
    <div id="taskitems">
	<h3>Items for {{task.name}}</h3>
	<ul>
	{% for item in task.taskitem_set.all %}
	    <li>
	    <a href="{{item.edit_url}}">{{item.name}}</a>
	    </li>
	{% endfor %}
	</ul>
    </div>
    {% endif %}
    </div>
    
    
    <div id="subtaskform">
	<form action="." method="post">
	{{addsubtaskform.as_p}}
	<input type="SUBMIT" name="addsubtask" value="Add a subtask" />
	</form>
    </div>
    
    <div id="itemform">
	<form action="." method="post">
	{{additemform.as_p}}
	<input type="SUBMIT" name="additem" value="Add a taskitem" />
	</form>
    </div>
    
    <div id="notes">
        {% if task.get_notes %}
        <h3>Notes</h3>
        <ul>
        {% for note in task.get_notes %}
            <li>{{note.text}} said by {{note.user.username}}</li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
<h3>Meta</h3>
<ul> 
    <li><a href="{{task.edit_url}}">Edit this task</a></li>
    <li><a href="{{task.add_note_url}}">Add a note</a></li>
</ul>

<h3>
    Older Versions
</h3>
<ul>
    {% for version in task.get_old_versions %}
	<li>
	    <a href="{{version.revision_url}}">Versioned on {{version.effective_end_date}}</a>
	</li>
    {% endfor %}
</ul>

 Task {{task.name}} was created on {{task.created_on|date}}. It has {{task.num_child_tasks}} sub tasks and {{task.num_items}} task items.
 {% if task.expected_end_date %}
    You need to complete this by {{task.expected_end_date|date}}
 {% endif %}
{% endblock %}