{% extends 'project/base.html' %}

{% block title %}
{{block.super}} - Todo
{% endblock %}


{% block contents %}
    <h2>Your Todo lists</h2>
    
    <div dojoType="dijit.layout.AccordionContainer" duration="200"
                style="margin-right: 30px; width: 500px; height: 300px; overflow: hidden">
    {% for list in lists %}
	<div dojoType="dijit.layout.AccordionPane" selected="true" title="{{list.name}}">
            <div class="listcontrols">
                <form action='.' method="post">
                    <label>Complete</label>
                    {% if list.is_complete %}
                        <input type="hidden" name="todoitemid" value="{{list.id}}" />
                        <input type="checkbox" name="listmarkdone" value="" checked="checked" disabled="disabled" />  
                    {% else %}
                        <input type="hidden" name="id" value="{{list.id}}" />
                        <input type="checkbox" name="listmarkdone" value="" onchange="submit()" />
                    {% endif %}
                </form>
            </div>
        <div class="items">
            <table>
                {% for item in list.todoitem_set.all %}
                <tr>
		    <td class="{% cycle 'odd' 'even' %}">{{item.text}}</td>
                    <td>
                        <form action="." method="post">
                            {% if item.is_complete %}
                            <input type="hidden" name="todoitemid" value="{{item.id}}" />
                            <input type="checkbox" name="itemmarkdone" value="" checked="checked" disabled="disabled" />
                            {% else %}
                            <input type="hidden" name="id" value="{{item.id}}" />
                            <input type="checkbox" name="itemmarkdone" value="" onchange="submit()" />
                            {% endif %}
                            
                        </form>
                    </td>
		</tr>
                {% endfor %}
            </table>
        </div>
	<div class="itemcontrols">
	<form action="." method="post" name="{{list.name}}">
	<fieldset>
	{{list.item_form}}
	<legend>Add a todo item.</legend>
	<input type="HIDDEN" name="id" value="{{list.id}}" />
	<input type="submit" name="additem" value="Add todo item" />
	</fieldset>
        </form>
	</div>
	</div>
    {% endfor %}
    </div>
    
    <div id="noticeform">
        <form action="." method="post">
	<fieldset>
	    <legend>Add a todo list.</legend>
            {{addlistform.as_p}}
	<input type="submit" name="addlist" value="Add todo list" />
	</fieldset>
        </form>
    </div>
{% endblock %}

{% block sidebar %}
   You are looking at your todo items created for {{project.name}}
{% endblock %}