{% extends 'project/base.html' %}

{% block contents %}
    <h2>Noticeboard</h2>
    <ul>
    {% for list in lists %}
	<li>
        {{list.name}}
        <div class="items">
            <ul>
                {% for item in list.todoitem_set.all %}
                <li>{{item.text}}</li>
                {% endfor %}
            </ul>
        </div>
	<div class="itemcontrols">
	<form action="." method="post" name="{{list.name}}">
	{{list.item_form}}
	<input type="HIDDEN" name="id" value="{{list.id}}" />
	<input type="submit" name="additem" value="Add todo item" />
        </form>
	<div>
	</li>
    {% endfor %}
    </ul>
    
    <div id="noticeform">
        <form action="." method="post">
            {{addlistform.as_p}}
            <input type="SUBMIT" name="addlist" value="Add Todo list" />
        </form>
    </div>
{% endblock %}