{% extends 'project/base.html' %}

{% block contents %}
<h2>Details for {{user.username}}</h2>    
    <ul class="tasklist">
        <h3>Pending tasks</h3>
    {% for task in tasks %}
	<li class="taskrow" id="task-{{task.id}}">
	<h4>{{task.name}}</h4>
	<table>
	    <tbody>
            {% include 'project/taskrow.html' %}
	    </tbody>
	</table> 
	</li>
    {% endfor %}
    
    </ul>
    
    <table>
    {% for item in items %}
      	    <tbody>
            <tr class={% cycle "odd" "even" %}>
	    <td><a href="{{item.edit_url}}">{{item.name}}</a></td>
            <td>{{item.user}}</td>
            <td>{{item.time_worked}}</td>
            {% include 'project/taskitem_done.html' %}
            </tr>
	    </tbody>
    {% endfor %}
    </table>    


{% endblock %}