{% extends 'project/base.html' %}

{% block title %}
{{block.super}} - Create page
{% endblock %}

{% block contents %}
    <form method="post" action=".">
        <fieldset>
            <legend>Create a page</legend>
        {{wikiform.as_p}}
        <input type="submit" name="save" value="Create Page" />
        </fieldset>
    </form>
{% endblock %}

{% block sidebar %}
   You are creating a new wiki page for {{project.name}}
  <h3>Meta</h3>
  <ul>
    <li>
	<a href="{{project.wiki_url}}">Wiki</a>
    </li>
    </ul>
{% endblock %}