	    <td>
            {% if item.is_complete %}
            <form action="." method="post">
                {% csrf_token %}
                <input type="hidden" name="taskitemid" value="{{item.id}}" />
		<input type="hidden" name="itemmarkundone" value="markundone" />
		<input type="checkbox" name="itemmarkundone_check" value="{{item.is_complete}}" checked="checked" onchange="submit()" />
            </form>
            {% else %}
            <form action="." method="post">
                {% csrf_token %}
                <input type="hidden" name="taskitemid" value="{{item.id}}" />
		<input type="checkbox" name="itemmarkdone" value="{{item.is_complete}}" onchange="submit()"/>
            </form>            
            {% endif %}
            </td>