{% extends 'project/pdf/base.html' %}

{% block title %}
{{block.super}} - Details for {{task.name}}
{% endblock %}


{% block jqueryarea %}
<script type="text/javascript" src="/site_media/js/taskdetails.js">

 </script>
{% endblock %}

{% block contents %}
    <h2>{{task.name}}</h2>
    <div class="taskinfo">
	<table>
            <thead>
                <tr>
                    <td>Start Date</td>
                    <td>End Date</td>
                    <td>Person Responsible</td>
                    <td>Edit</td>
                    <td>Complete?</td>
                </tr>
            </thead>
	    <tbody>
            <tr>
            <td>{{task.expected_start_date|date}}</td>
            <td>{{task.expected_end_date|date}}</td>
            <td>{{task.user_responsible}}</td>
            <td><a href="{{task.edit_url}}">Edit</a></td>
            <td>
						{% if task.is_complete %}
						Yes
						{% else %}
						No
						{% endif %}
						</td>
            </tr>
	    </tbody>
	</table>        
    </div>
    
    <div id="taskdetails">
    
        <div id="notes">
        {% if task.get_notes %}
        <h3>Notes</h3>
        <ul>
        {% for note in task.get_notes %}
            <li>{{note.text}} added by {{note.user.username}}</li>
        {% endfor %}
        </ul>
        {% else %}
        No notes on this task.
        {% endif %}
    </div>
	
    {% if task.num_child_tasks %}
    <div id="subtasks">
	<h3>Subs tasks for {{task.name}}</h3>
	<table>
            <thead>
                <tr>
                    <td>Subtask</td>
                    <td>Start Date</td>
                    <td>End Date</td>
                    <td>Person Responsible</td>
                    <td>Details</td>
                    <td>Edit</td>
                    <td>Complete?</td>
                    <td>Delete</td>
                </tr>
            </thead>
        
	{% for task in task.task_set.all %}
        <tbody>
	    {% include 'project/taskrow.html' %}
        </tbody>
	{% endfor %}
        
	</table>
    </div>
    {% endif %}
    
    {% if task.num_items %}
    <div id="taskitems">
	<h3>Items for {{task.name}}</h3>
        <table>
        <thead>
            <tr>
                <td>
                    Item
                </td>
                <td>
                    User
                </td>
                <td>
                    Time
                </td>
                <td>
                    Complete?
                </td>
            </tr>
        </thead>
	{% for item in task.taskitem_set.all %}
	    <tbody>
            <tr class={% cycle "odd" "even" %}>
	    <td><a href="{{item.edit_url}}">{{item.name}}</a></td>
            <td>{{item.user}}</td>
            <td>{{item.time_worked}}</td>
            <td>
						{% if item.is_complete %}
						Yes
						{% else %}
						No
						{% endif %}
						</td>
            </tr>
	    </tbody>
	{% endfor %}
	</table>
    </div>
    {% endif %}
    </div>
    
    
{% endblock %}