            <tr class="{% cycle "odd" "even" %} taskrow" id="task-{{task.id}}">
            <td title="Name of the project">
                <a class="showtaskdetails" href="#">{{task.name}}</a>
            </td>
            <td>{{task.expected_start_date|date}}</td>
            <td>{{task.expected_end_date|date}}</td>
            <td>{{task.user_responsible}}</td>
	    <td><a href="{{task.get_absolute_url}}">Details</a></td>
            <td class="taskcontrol"><a href="{{task.edit_url}}">
                <img src="/site_media/images/edit.png" alt="edit" />
                
            </a></td>
            <td class="taskcontrol">
            <form action="." method="post" id="markdone-{{task.id}}" class="markdone">
                {% csrf_token %}
		<div>
            {% if task.is_complete %}
                <input type="hidden" name="taskid" value="{{task.id}}" />
		<input type="hidden" name="markundone" value="markundone" />
		<input type="checkbox" name="markundone_check" value="{{task.is_complete}}" checked="checked" onchange="submit()" />
            
            {% else %}
                <input type="hidden" name="taskid" value="{{task.id}}" />
		<input type="checkbox" name="markdone" value="{{task.is_complete}}" onchange="submit()"/>         
            {% endif %}
		</div>
            </form>
            </td>            
            <td class="taskcontrol">
            <form action="." method="post" id="deletetask-{{task.id}}" class="deletetask">
                {% csrf_token %}
		<div>
                <input type="hidden" name="taskid" value="{{task.id}}" />
                <input type="image" src="/site_media/images/delete.png" name="deletetask" value="Delete" />
		</div>
            </form>
            </td>
            </tr>
            
            <tr class="taskrowdetail">
                <td>Actual start date</td>
                <td>{{task.actual_start_date|date}}</td>
            </tr>
            <tr class="taskrowdetail">
                <td>Actual end date</td>
                <td>{{task.actual_end_date|date}}</td>
            </tr>