{% extends 'project/pdf/base.html' %}

{% block title %}
{{block.super}} - Todo
{% endblock %}


{% block contents %}
    <h2>Your Todo lists</h2>
    
    <ul id="accordion" style="margin-right: 30px; width: 400px;">
    {% for list in lists %}
            <li id="list-{{list.id}}" class="todolist">
                <a id="todolist-{{list.id}}">{{list.name}}</a>
                <div class="accordionitem">
                
                aaa
            <div class="items">
                {% if list.todoitem_set.all %}
                <table>
                    {% for item in list.todoitem_set.all %}
                    <tr>
                        <td class="{% cycle 'odd' 'even' %}">{{item.text}}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <div>
                    No items added for this todo list.
                </div>
                {% endif %}
            </div>
            
            </div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}