{% extends 'project/pdf/base.html' %}

{% block title %}
{{block.super}} - Edit {{page.title}}
{% endblock %}

{% block jqueryarea %}
    <script src="http://js.nicedit.com/nicEdit.js" type="text/javascript"></script>
<script type="text/javascript">
bkLib.onDomLoaded(nicEditors.allTextAreas);
</script>
{% endblock %}

{% block contents %}
    <form method="post" action=".">
        {{editform.as_p}}
        <input type="SUBMIT" name="createpage" value="Create Page" />
    </form>
{% endblock %}