{% extends 'project/base.html' %}

{% block title %}
{{block.super}} - Edit {{task.name}}
{% endblock %}


{% block contents %}
    <form action="." method="post">
	<fieldset>
	    <legend>Editing {{task.name}}</legend>
        {{editform.as_p}}
        <input type="SUBMIT" name="edit" value ="Edit Task" />
	</fieldset>
    </form>
{% endblock %}

{% block sidebar %}
You are editing {{task.name}}.

<h3>
    Meta
</h3>
   <a href="{{task.get_absolute_url}}">Details</a>
   

<h3>
    Older Versions
</h3>
{% include 'project/taskversions.html' %}
       
{% endblock %}